.main {
  background-color: Purple;
  border-radius: 25px;
  padding-top: 50px;
}
.text {
  color: White;
  font-family: Copperplate;
  font-size: 60px;
  text-align: center;
  background-color: Blue;
  border-radius: 20px;
  margin: 0 auto;
  width: 1000px;
}
h1 {
  color: White;
}
p {
  color: White;
}
.small_text {
  text-align: center;
  padding: 25px;
  background-color: Teal;
  border-radius: 20px;
}
.features_text {
  text-align: center;
  color: White;
  font-family: Copperplate;
  font-size: 60px;
  text-decoration: underline;
}
.boxes {
  display: flex;
  text-align: center;
  justify-content: center;
}
.item1 {
  width: 292px;
  background-color: Blue;
  border-radius: 30px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 10px;
  text-align: left;
  margin: 10px;
}
.item2 {
  width: 292px;
  background-color: Blue;
  border-radius: 30px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 10px;
  text-align: left;
  margin: 10px;
}
.item3 {
  width: 292px;
  background-color: Blue;
  border-radius: 30px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 10px;
  text-align: left;
  margin: 10px;
}
.tag {
  color: White;
  font-family: Geneva;
  font-size: 12px;
  text-align: right;
  padding-right: 20px;
  padding-bottom: 15px;
}
.nutella {
  width: 75px;
  border: 3px solid Black;
}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}